*:before, *:after, * {
	box-sizing: border-box;
}

body {
	border: 0;
	margin: 0;
}

/*=== GLOBAL LAYOUT RULES ===*/
.document-body {
	width: 100%;
	display: grid;
	grid-template-columns: 220px 1fr;
}

.main-doc-aside {
	background-color: #455A64;
}

.main-doc-aside > .side-nav {
	display: flex;
	flex-direction: column;
	height: 60%;
	justify-content: space-between;
}

.main-doc {
	display: grid;
	width: 100%;
	grid-template-rows: 50px 1fr;
}

.main-content {
	margin: 0 auto; 
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 2rem 4%;
	max-width: 1200px;
	background-color: #CFD8DC;
}


.inline {
	display: inline-block;
	margin: 0;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*=== SIDE NAV LAYOUT RULES ===*/
.profile-image {
	display: flex;
	margin: ;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.6rem 0 .4rem 0;
}

.profile-image img {
	height: 100px;
	width: 100px;
	background-color: #ddd;
}

.side-nav-all {
	
}

.side-nav {
	height: 20%;
	margin-left: 5%;
}

.side-list {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.side-list li {
	padding: .4rem 0;
	margin: .3rem 0;
}

/*=== TOP NAV LAYOUT RULES ===*/
.top-main-nav {
	
}

.top-nav-interact {
	display: flex;
	width: 100%;
}

.top-nav-interact .btn {
	height: 50px;
	width: 60px;
}

.top-search-bar {
	width: 100%;
}

/*=== MAIN CONTENT HEADER RULES ===*/
.main-content-header {
}

.main-header-top-bar {
	align-items: center;
	display: flex;
	margin: 2rem 0;
	justify-content: space-between;
}

.header-title h1 {
	margin: 0 0 5px 0;
}

.header-title-support {
	display: flex;
	justify-content: space-around;
	width: 70%;
}

.main-header-bot-bar {
}

.header-nav-bar {
	justify-content: space-evenly;
	width: 75%;
	display: flex;
	padding: 0;
	margin: 0;
}

.header-nav-bar li {
	border-bottom: 2px solid blue;
	padding: 20px 0;
}

/*=== GRAPH & DIVIDER SECTION RULES ===*/
.graph-section {
	display: flex;
	justify-content: space-between;
	margin: 2rem auto;
}

.graph-container {
	text-align: center;
}

.graph-container button {
	margin-top: 1.3rem;
}

.graph {
	height: 200px ;
	width: 450px ;
	background-color: #ccc;
}

.divider {
	display: flex;
	margin: 2rem 0;
}

.arrow-divide {
	margin: 0 10px;
}

hr {
	display: inline-block;
	width: 48%;
}

/*=== MAIN SECTION RULES ===*/
.main-body-core {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.body-core-table {
	width: 65%;
	border-collapse: collapse;
}

.body-core-table thead {
	background-color: #888;
}

.body-core-table td, th {
	padding: 1.2rem 0;
	min-width: 150px;
	margin: 0;
}

.body-core-table td {
	padding: 1.7rem 1rem 1.7rem .8rem;
}

.td-special {
	display: inline-block;
}

.table-button {
	display: inline;
	float: left;
	padding: 0 0;
	margin: .7rem 0;
	min-width: 0;
}

/*=== MAIN ASIDE RULES ===*/
.body-core-aside {
	width: 30%;
	max-width: 400px;
}

.body-aside-btns {
	width: 100%;
}

.btn-3 {
	width: 100%;
	padding: .7rem 0;
	margin-bottom: 1rem;
}

.body-aside-forms  form {
}

.body-aside-forms > h2 {
	padding: 0;
	margin-bottom: 0;
}

.copy-link {
	width: 100%;
	font-size: 16px;
	padding: 5px 0;
}

.input-block {
	display: flex;
	justify-content: space-between;
}

.no-b-margin {
	margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
	.document-body {
	}

	.graph-container {
		margin: 1rem 0;
	}

	.graph-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


@media screen and (max-width: 990px) {
	.document-body {
		width: 100vw;
	}

	.main-header-top-bar {
		display: flex;
		flex-direction: column;
		margin-top: 0;
		justify-content: center;
	}

	.header-title-support {
		margin: 0 auto;
	}

	.header-form {
		margin: 1rem 0;
	}

	.main-header-bot-bar nav {
		display: flex;
		justify-content: center;
	}

	.header-nav-bar {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.header-nav-bar li {
		border: 1px solid blue;
		margin: .2rem 0;
	}

	.main-body-core {
		display: flex;
		flex-direction: column-reverse;
	}

	.body-core-table {
		width: 100%;
	}

	.body-core-aside {
		margin: 1rem auto;
		max-width: 100%;
		width: 80%;
	}
}

@media screen and (max-width: 740px) {
	.document-body {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}

	.main-doc-aside {
		display: none;
	}
}








