$primaryColor: #EDF2F6;
$secondaryColor: #354052;
$supportColor: #6D7F96;
$buttonActive: #15A9FD;
$btnColorAlt: #57BCC2;
$facebookColor: #4C6FBD;
$twitterColor: #0CAEE3;
$linkedinColor: 	#0382AE;

@mixin flex-row {
	display: flex;
	justify-content: space-between;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin body-input {
	display: flex;
	.copy-link {
		border: 1px solid #999;
		border-right: none;
		padding: .7rem;
		width: 100%;
	}
	.copy-submit {
		background-color: $btnColorAlt;
		border-left: none;
		border-radius: 0 5px 5px 0;
		border: 1px solid $btnColorAlt;
		padding: .7rem;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.document-body {
	display: flex;
	.main-doc-aside {
		width: 15%;
	}

	.main-doc-container {
		width: 85%;
		.top-nav-interact {
			@include flex-row;
			border: 1px solid red;
			height: 3rem;
			.top-search-bar {
				width: 100%;
			}
		}
	.main-doc {
		background-color: $primaryColor;
		border: 1px solid green;
		display: grid;
		grid-template-rows: 5% 1fr; 
		padding: 2rem;
		}
		.main-content {
			.main-content-header {
				@include flex-column;
				border: 1px solid blue;

				.header-title {
					border: 1px solid red;
					margin: 2rem 0;
					h1 {margin: 0;}
					div {
						@include flex-row;
						width: 60%;
						p {margin: 0;}
					}
				}
				.main-header-top-bar {
					@include flex-row;
					align-items: center;
					border: 1px solid red;
				}
				.header-nav-bar {
					@include flex-row;
					border: 1px solid red;
					width: 80%;
					li {
						padding: 0 .7rem 1rem 0;
					}
				}
			}
			.main-content-body {
				.graph-section {
					@include flex-row;
					border: 1px solid red;
					text-align: center;
					.graph {
						background-color: $secondaryColor;
						height: 175px;
						margin-top: 3rem;
						width: 400px;
					}
					button {
						margin-top: 2rem;
					}
				}
				.divider {
					@include flex-row;
					margin: 2rem 0;
					hr { width: 50%; }
				}
				.main-body-core {
					display: flex;
					justify-content: space-between;
					.body-core-table {
						background-color: #fff;
						border-collapse: collapse;
						width: 63%;
						}
						thead {
							background-color: $supportColor;
							border-left: 40px solid $supportColor;
							border-right: 40px solid $supportColor;
						}
						th {
							height: 4rem;
						}
						tbody {
						
						}
						tr {
							border-bottom: 1px solid #999;
						}
						.bottom-row {
							border-bottom: none;
						}
						td {
							min-width: 145px;
							padding: 1.5rem 0;
						}
					}
					.body-core-aside {
						width: 32%;
						.body-aside-btns {
							@include flex-column;
							.fb-btn {
								background-color: $facebookColor;
								margin-top: 0;
							}
							.twitter-btn {
								background-color: $twitterColor;
							}
							.linkedIn-btn {
								background-color: $linkedinColor;
								margin-bottom: 0;
							}
							button {
								border-radius: 5px;
								margin: .5rem 0;
								padding: 1rem;
							}
						}
						.body-aside-forms {
							.input-block {
								@include body-input;
							}
							.copy-link-2 {
								border: 1px solid grey;
								padding: .7rem 0;
								width: 100%;
							} 
						}
					}
				}
			}
		}
}











