$primaryColor: #EDF2F6;
$secondaryColor: #354052;
$supportColor: #58677a;
$buttonActive: #15A9FD;
$btnColorAlt: #57BCC2;
$facebookColor: #4C6FBD;
$twitterColor: #0CAEE3;
$linkedinColor: 	#0382AE;

@mixin flex-row {
	display: flex;
	justify-content: space-between;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin body-input {
	display: flex;
	.copy-link {
		border: 1px solid #999;
		border-right: none;
		padding: .7rem;
		width: 100%;
	}
	.copy-submit {
		background-color: $btnColorAlt;
		border-left: none;
		border-radius: 0 5px 5px 0;
		border: 1px solid $btnColorAlt;
		padding: .7rem;
	}
}

@mixin btn {
	.btn {
		border: none;
		color: $supportColor;
		cursor: pointer;
		transition: .04s ease-in-out;
		&:hover {
			background-color: $buttonActive;
			color: #fff;		
		}
		&:active {
			background-color: $facebookColor;
		}
		&:focus {
			outline: none;
		}
	}
	.btn-2 {
		@extend .btn;
		border-radius: 25px;
		border: 1px solid $supportColor;
		padding: 5px 10px;
	}
	.btn-3 {
		@extend .btn;
		color: #fff;
		&:hover {
			color: #000;
		}
		&:active {
			background-color: #60d8ff !important;
			color: $secondaryColor;
		}
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.document-body {
	@include btn;
	display: flex;
	font-family:  "Open Sans", sans-serif;
	.main-doc-aside {
		background-color: $secondaryColor;
		color: #aaa;
		width: 15%;
		.profile-image {
			@include flex-column;
			align-items: center;
			justify-content: center;
			padding-top: 1.5rem;
			img {
				background-color: #bbb;
				height: 100px;
				width: 100px;
			}
		}
		.side-nav {
			@include flex-column;
			h3 {
				padding-left: 1rem;
				font-size: 12px;
			}
			li {
				border: 3px solid transparent;
				padding: .5rem 1rem;
				&:hover {
					cursor: pointer;
					color: #eee;
					background-color: $supportColor;
					border-left: 3px solid $buttonActive;
				}
			}
		}
	}


	.main-doc-container {
		width: 85%;
		.top-nav-interact {
			@include flex-row;
			height: 3rem;
			.top-search-bar {
				border: 1px solid #999;
				border-left: none;
				border-right: none;
				padding-left: .5rem;
				width: 100%;
				&:focus {
					border: 2px solid $buttonActive;
				}
			}
			input:focus {
				outline: none;
			}
			button {
				border: 1px solid #999;
				width: 50px;
			}
			button:nth-child(even) {
				border-left: none;
				border-right: none;
			}
		}
		.top-header-content {
			.main-content-header {
				@include flex-column;
				background-color: #fff;
				padding: 0 2rem;
				.header-title {
					margin: 4rem 0;
					h1 {margin: 0;}
					div {
						@include flex-row;
						width: 60%;
						p {margin: 0;}
					}
				}
				.main-header-top-bar {
					@include flex-row;
					align-items: center;
				}
				.header-nav-bar {
					@include flex-row;
					width: 70%;
					li {
						border-bottom: 2px solid transparent;
						padding: 0 .2rem .5rem .2rem;
					&:hover {
						border-bottom: 2px solid $buttonActive;
						cursor: pointer;
						}
					&:active {
						border-bottom: 2px solid $facebookColor;
						}
					}
				}
			}
		}
	.main-doc {
		background-color: $primaryColor;
		display: grid;
		grid-template-rows: 5% 1fr; 
		padding: 2rem;
	}
	.main-content {
		.main-content-body {
			.graphs {
				display: flex;
			}
			.graph-body {
				min-width: 500px;
				text-align: center;
				width: 50%;
			}
			.graph-section {
				@include flex-row;
				justify-content: center;
				margin: 1rem 0;
				text-align: center;
				.graph-container {
					border-radius: 50%;
					border: 10px solid #ced3db;
					margin: 4px .5rem;
					min-height: 150px;
					min-width: 150px;
				}
				.bar-graph-1 {
					width: auto;
					height: 175px;
				}
				.circular-graph {
					@include flex-column;
					align-items: center;
					align-items: center;
					height: 150px;
					justify-content: center;
				}
				h2 {
					margin: 0;
				}
				p {
					margin: 0;
				}
				button {
					margin-top: 2rem;
				}
			}
			.divider {
				@include flex-row;
				margin: 2rem 0;
				hr { width: 50%; }
			}
			.main-body-core {
				display: flex;
				justify-content: space-between;
				.body-core-table {
					background-color: #fff;
					border-collapse: collapse;
					width: 63%;
					}
					thead {
						background-color: $supportColor;
						border-left: 40px solid $supportColor;
						border-right: 40px solid $supportColor;
					}
					th {
						height: 4rem;
					}
					tbody {
					
					}
					tr {
						border-bottom: 1px solid #999;
					}
					.bottom-row {
						border-bottom: none;
					}
					td {
						min-width: 145px;
						padding: 1.5rem 0;
					}
				}
				.body-core-aside {
					width: 32%;
					.body-aside-btns {
						@include flex-column;
						.fb-btn {
							background-color: $facebookColor;
							margin-top: 0;
						}
						.twitter-btn {
							background-color: $twitterColor;
						}
						.linkedIn-btn {
							background-color: $linkedinColor;
							margin-bottom: 0;
						}
						button {
							border-radius: 5px;
							margin: .5rem 0;
							padding: 1rem;
						}
					}
					.body-aside-forms {
						.input-block {
							@include body-input;
						}
						.copy-link-2 {
							border: 1px solid grey;
							padding: .7rem;
							width: 95%;
						} 
					}
				}
			}
		}
	}
}











